* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000000;
    color: #EAEAEA;
    line-height: 1.6;
}

.header{
    background-color: #000000;
    position: absolute;
    width: 100%;
    padding: 2vh;
    z-index: 10;
}
.nav-p ul {
    display: flex;
    list-style: none;
    justify-content: left;
    gap: 30px;
    top: 5vh;
    margin-left: 220px;
}

.nav-p ul li a {
    display: flex;
    text-decoration: none;
    right: 20px;
    color: #ffffff;
    font-size: 25px;
    transition: color 0.3s ease-in-out;
}

.nav-p ul li a:hover {
    color: #fb0000;
}

.btn{
    clip-path:polygon();
    object-fit: cover;
    display: flex;
    height: 72vh;
    position: absolute;
    left: 0%;
    top: 10vh; 
}
.img3 {
    display: flex;
    height: 72vh;
    position: absolute;
    left: 49.7%;
    top: 5vh;
    z-index: 1;
}

.boxeo{
    position: absolute;
    left:15%;
    top: 32%;
}

.reflejos{
   font-size: 6vh;
}

.mma {
    position: absolute;
    left: 70%;
    top: 32%;
    z-index: 2; 
    font-weight: bold;
    text-align: center;
}

.sombra {
   font-size: 6vh;
  
}


.barraf{
    background-color: #252525;
    position: absolute;
    left: 0vh;
    width: 100%;
    padding: 2vh;
    z-index: 10;
    top: 100vh;
}

.footer {
    background-color: #ffffffc5;
    text-align: center;
    padding: 20px;
    color: #ffffff;}